body {
  font-family: 'Quicksand', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-image: url('./assets/cold.jpg');
  background-position: bottom; /* Center the image */
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 2s;
}

.App.warm{
  background-image: url('./assets/warm.jpg');
  background-position: center; /* Center the image */
}

main {
  min-height: 100vh;
  padding: 25px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px){

}

